<a href="https://colab.research.google.com/github/2303A51722/2303A51722-application-of-datamining/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [15]:
file_path = 'titanic.csv'  # Assuming the file is in the same directory as the script
df = pd.read_csv(file_path)

In [16]:
# Handle missing values (impute with mean, median, or mode)
for column in df.select_dtypes(include=['number']).columns:
    df[column].fillna(df[column].mean(), inplace=True)  # Mean imputation

<ipython-input-16-6a7d6d9c38fb>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)  # Mean imputation

In [18]:
 #Feature scaling (Choose one)
scaler = MinMaxScaler()  # Min-Max Normalization
# scaler = StandardScaler()  # Standardization

In [19]:
numeric_columns = df.select_dtypes(include=['number']).columns
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [20]:
# Display the first few rows after preprocessing
print(df.head())

   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  0.271174  0.125
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.472229  0.125
2                             Heikkinen, Miss. Laina  female  0.321438  0.000
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.434531  0.125
4                           Allen, Mr. William Henry    male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   NaN        S
1    0.0          PC 17599  0.139136   C85        C
2    0.0  STON/O2. 3101282  0.015469   NaN        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   NaN        S